.contact-card__container {
    font-family: 'Spartan', sans-serif;
    text-transform: capitalize;
}
.contact-card__container h4 {
    font-weight: 600;
}
.contact-card__container p{
    font-size: 12px;
    margin: 10px 0;
}
.contact-card__container h5{
    cursor:pointer;
}

.contact-card__container h5 svg{
    stroke:#000000;
}
