@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');
*{
  margin:0;
  padding:0;
}
/* desktop styles */
.main-container {
  padding: 30px 100px 0 100px;
  overflow-x: hidden;
}


/* featured */


/* card */


/* footer  */


/* about us page  */
/* portfolio  */
.img228b {
  background-image: url('./assets/portfolio/desktop/image-228b.jpg');
}
.imgsol {
  background-image: url('./assets/portfolio/desktop/image-del-sol.jpg');
}
.imgedel {
  background-image: url('./assets/portfolio/desktop/image-edelweiss.jpg');
}
.imgeebox {
  background-image: url('./assets/portfolio/desktop/image-eebox.jpg');
}
.imgfederal {
  background-image: url('./assets/portfolio/desktop/image-federal.jpg');
}
.imghyper {
  background-image: url('./assets/portfolio/desktop/image-hypers.jpg');
}
.imgnetcry {
  background-image: url('./assets/portfolio/desktop/image-netcry.jpg');
}
.imgparamour {
  background-image: url('./assets/portfolio/desktop/image-paramour.jpg');
}
.imgproto {
  background-image: url('./assets/portfolio/desktop/image-prototype.jpg');
}
.imgseraph {
  background-image: url('./assets/portfolio/desktop/image-seraph.jpg');
}
.imgsxiv {
  background-image: url('./assets/portfolio/desktop/image-sxiv.jpg');
}
.imgtrinity {
  background-image: url('./assets/portfolio/desktop/image-trinity.jpg');
}

/*leaders*/
.imgJake {
  background-image: url('./assets/about/desktop/avatar-jake.jpg');
}
.imgThompson {
  background-image: url('./assets/about/desktop/avatar-thompson.jpg');
}
.imgJackson {
  background-image: url('./assets/about/desktop/avatar-jackson.jpg');
}
.imgMaria {
  background-image: url('./assets/about/desktop/avatar-maria.jpg');
}



.map-component {
  width: 100%;
  height: 500px;
}
