
/* portfolio  */
.img228b {
    background-image: url('../../assets/portfolio/desktop/image-228b.jpg');
  }
  .imgsol {
    background-image: url('../../assets/portfolio/desktop/image-del-sol.jpg');
  }
  .imgedel {
    background-image: url('../../assets/portfolio/desktop/image-edelweiss.jpg');
  }
  .imgeebox {
    background-image: url('../../assets/portfolio/desktop/image-eebox.jpg');
  }
  .imgfederal {
    background-image: url('../../assets/portfolio/desktop/image-federal.jpg');
  }
  .imghyper {
    background-image: url('../../assets/portfolio/desktop/image-hypers.jpg');
  }
  .imgnetcry {
    background-image: url('../../assets/portfolio/desktop/image-netcry.jpg');
  }
  .imgparamour {
    background-image: url('../../assets/portfolio/desktop/image-paramour.jpg');
  }
  .imgproto {
    background-image: url('../../assets/portfolio/desktop/image-prototype.jpg');
  }
  .imgseraph {
    background-image: url('../../assets/portfolio/desktop/image-seraph.jpg');
  }
  .imgsxiv {
    background-image: url('../../assets/portfolio/desktop/image-sxiv.jpg');
  }
  .imgtrinity {
    background-image: url('../../assets/portfolio/desktop/image-trinity.jpg');
  }
  